
<div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Login</h3>
         </div>
          <div class="panel-body">
            <form name="loginForm" (ngSubmit)="loginSubmit(formValue)" #formValue="ngForm">

                <div class="form-group">
                 <input class="form-control" [class.validity]="!Email.valid && Email.touched" placeholder="yourmail@example.com" name="email" type="email"
                   [(ngModel)]="user.email" required email #Email="ngModel">
                <span class="text-danger" *ngIf="!Email.valid && Email.touched">Please enter valid email</span> 
              </div>
              
              <div class="form-group">
                <input class="form-control" placeholder="Password" name="password" required type="password" [(ngModel)]="user.password" required #Password="ngModel">
                <span class="text-danger" *ngIf="!Password.valid && Password.touched">Please enter Password</span>
              </div>
              <button class="btn btn-lg btn-primary btn-block" [disabled]="(!user.email || !user.password)"  (click)="onSignIn()">Login</button>
              </form>
          </div>
      </div>
    </div>
  </div>
  </div>
