<app-header></app-header>
<!-- <div class="container"> -->
<!-- <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Overview Content</h2>
        </div>
    </div> -->
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Overview Content</h3>
    </div>
    <div class="panel-body">

        <div class="row col-md-12  table-responsive">
            <div class="navbar-form navbar-right">
                <div class="offset-12">
                    <input type="text" placeholder="Search"class="form-control" [(ngModel)]="SearchText" />
                </div>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>User Email Id</th>
                        <th>Asset Serial Number</th>
                        <th>asset Name</th>
                        <th>Assigned to User</th>
                        <th>User Phone Number</th>
                        <th>Access Provided</th>
                        <th>From Date</th>
                        <th>Till Date</th>
                        <th>Quantity</th>
                        <th>Purpose</th>

                    </tr>
                </thead>
                <thead>
                    <tr
                        *ngFor="let overviewAsset of overviewAssets | filter : SearchText | paginate: {itemsPerPage:10, currentPage:p};">
                        <td>{{overviewAsset.userEmail}}</td>
                        <!-- project name-->
                        <td>{{overviewAsset.serialNumber}}</td>
                        <!-- mobile devices -->
                        <td>{{overviewAsset.assetName}}</td>
                        <td>{{overviewAsset.userName}}</td>
                        <td>{{overviewAsset.phoneNumber}}</td>
                        <td>{{overviewAsset.accessAllocation}}</td>
                        <td>{{overviewAsset.fromDate}}</td>
                        <td>{{overviewAsset.tillDate}}</td>
                        <td>{{overviewAsset.quantity}}</td>
                        <td>{{overviewAsset.purpose}}</td>
                    </tr>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </thead>
            </table>
        </div>
    </div>
</div>