<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
          <div>
              <!-- <img src="../../../assets/Images/ITT_logo.png" style="width:320px;height:120px;"> -->
              <img src="../../../assets/Logo1.png" style="width:317px;height:60px; text-align: left">
          </div>
        <a class="navbar-brand" href="#">AAM: Access and Assest Management     @your Service</a><br>
        <ul class="nav navbar-nav md-col-6">
            <li class="active"><button class="btn btn-primary" type="button" [disabled]="navigationBar" (click)="NavigateTo('addAssetPage')">{{addassetButton}}</button> </li>
            <li> <button class=" btn btn-warning" type="button" [disabled]="navigationBar" (click)="NavigateTo('stockPage')">{{stocks}}</button></li>           
            <li> <button class=" btn btn-success" type="button" [disabled]="navigationBar" (click)="NavigateTo('allocateAsset')" >{{allocateassetButton}}</button> </li>
            <li> <button class=" btn btn-info"    type="button" [disabled]="navigationBar" (click)="NavigateTo('home')">{{overView}}</button></li>
          </ul>
  
      </div>
  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
        <ul class="nav navbar-nav navbar-right">
          <li><button class=" btn btn-danger" type="button" [disabled]="navigationBar" (click)="NavigateTo('#')">Logout</button>
        </ul>
      </div>
    </div>
  </nav>