.custab{
    border: 3px solid;
    padding: 5px;
    margin: 20% 0;
}
.btn{
    margin: 10px;
}
.panel{
    padding: 20px;
}
.container{
    padding: 30px 30px 30px 30px;
}
.navbar-nav
{
position: absolute;
right: 10px;
top: 5px;
}

.navbar-right{
    margin-top: 55px;
    margin-right: -2px;
}