<app-header></app-header>
<div class="row centered-form">
	<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-1 col-md-offset-3">
		<div class="panel panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Item Information</h3>
			</div>
			<div class="panel-body">
				<form #form="ngForm" (submit)="onSubmit(form)">
					<input type="hidden" name="id" #id="ngModel" [(ngModel)]="asset.id">
					<div class="form-group col-xs-12 col-sm-12 col-md-12">
							<label>Item Name</label>
						<input type="text" #itemName="ngModel" name="name" class="form-control" placeholder="Item Name"
							[(ngModel)]="asset.name" required>

						<div *ngIf="itemName.invalid && itemName.touched" class="validation-error">
							This field is required.
						</div>
						<label>Serial Number</label>
						<input type="text" #serialNumber="ngModel" name="serialNumber" id="serialNumber"
							class="form-control" placeholder="Serial Number" [(ngModel)]="asset.serialNumber" required>
						<div *ngIf="serialNumber.invalid && serialNumber.touched" class="validation-error">
							This field is required.
						</div>
						<label>Quantity</label>
						<input type="number" #quantity="ngModel" name="quantity" id="quantity" class="form-control"
							placeholder="Quantity" [(ngModel)]="asset.quantity" required>
						<div *ngIf="quantity.invalid && quantity.touched" class="validation-error">
							This field is required.
						</div>
						<label>Price</label>
						<input type="number" #price="ngModel" name="price" id="price" class="form-control"
							placeholder="Price" [(ngModel)]="asset.price" required>
						<div *ngIf="price.invalid && price.touched" class="validation-error">
							This field is required.
						</div>
						<label>Item Details</label>
						<input type="text" #itemDetails="ngModel" name="details" id="details" class="form-control"
							placeholder="Item Details" [(ngModel)]="asset.details" required>
						<div *ngIf="itemDetails.invalid && itemDetails.touched" class="validation-error">
							This field is required.
						</div>
						<label>Company</label>
						<input type="text" #company="ngModel" name="company" id="company" class="form-control"
							placeholder="Company" [(ngModel)]="asset.company" required>
						<div *ngIf="company.invalid && company.touched" class="validation-error">
							This field is required.
						</div>
					</div>
					<div class="form-group">
						<button type="submit" [disabled]= "form.invalid" class="btn btn-info btn-block">Submit</button>
						<!-- <button type="submit" class="btn btn-info btn-block">Submit</button> -->
					</div>
				</form>
			</div>
		</div>
	</div>
</div>