<div class="page-wrap">

    <router-outlet></router-outlet>
    <div class="clearfix">
        <!-- <app-footer style="background: white !important;"></app-footer> -->

<app-footer></app-footer>
            <!-- <div class="footerWrapper" style="background: white;">
                <div class="footer-1 wrap t3-sl t3-sl-footer-1 ">
                    <div class="container ">-->
                    <!--<div class="row">-->
                    <!-- <div class="moduletable  mobileCollapse  col-sm-2">
                        <div class="module_container">
                            <div class="mod-menu">
                                <ul class="menu ">
                                    <li class="item-196 deeper parent">
                                        <a class="desktopMenu h3" href="/our-work">Our Work</a>
                                        <ul class="nav-child unstyled small">
                                            <li class="item-160">
                                                <a class=" mobileCollapseBody"
                                                    href="/index.php/our-work#position-1">Product</a>
                                            </li>
                                            <li class="item-161">
                                                <a class=" mobileCollapseBody"
                                                    href="/index.php/our-work#position-2">Services</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="item-212 deeper parent">
                                        <a class=" mobileCollapseHead h3 mobileMenu" href="#t3-footer">Our Work</a>
                                        <ul class="nav-child unstyled small">
                                            <li class="item-213">
                                                <a class=" mobileCollapseBody mobileMenu"
                                                    href="/index.php/our-work#position-1">Products</a>
                                            </li>
                                            <li class="item-214">
                                                <a class=" mobileCollapseBody mobileMenu"
                                                    href="/index.php/our-work#position-2">Services</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="footer-2 wrap t3-sl t3-sl-footer-2 ">
                  
                    <div class="moduletable  mobileCollapse  col-sm-2">
                        <div class="module_container">
                            <div class="mod-menu">
                                <ul class="menu ">
                                    <li class="item-195 deeper parent">
                                        <a class="desktopMenu h3" href="/resources">Resources</a>
                                        <ul class="nav-child unstyled small">
                                            <li class="item-165">
                                                <a class=" mobileCollapseBody"
                                                    href="/index.php/resources#position-2">FAQ</a>
                                            </li>
                                            <li class="item-166">
                                                <a class=" mobileCollapseBody"
                                                    href="/index.php/resources#position-5">White Papers</a>
                                            </li>
                                            <li class="item-330">
                                                <a class=" mobileCollapseBody" href="/podcast">Podcast</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="item-217 deeper parent">
                                        <a class=" mobileCollapseHead h3 mobileMenu" href="#t3-footer">Resources</a>
                                        <ul class="nav-child unstyled small">
                                            <li class="item-218">
                                                <a class=" mobileCollapseBody mobileMenu"
                                                    href="/index.php/resources#position-2">FAQ</a>
                                            </li>
                                            <li class="item-219">
                                                <a class=" mobileCollapseBody mobileMenu"
                                                    href="/index.php/resources#position-5">White Papers</a>
                                            </li>
                                            <li class="item-331">
                                                <a class=" mobileCollapseBody mobileMenu" href="/podcast">Podcast</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                   
                </div>

                <div class="footer-3 wrap t3-sl t3-sl-footer-3 ">
     
                    <div class="moduletable  mobileCollapse  col-sm-2">
                        <div class="module_container">
                            <div class="mod-menu">
                                <ul class="menu ">
                                    <li class="item-193 deeper parent">
                                        <a class=" desktopMenu h3" href="/about-us">About Us</a>
                                        <ul class="nav-child unstyled small">
                                            <li class="item-167">
                                                <a class=" mobileCollapseBody"
                                                    href="/index.php/about-us/#position-2">Leadership</a>
                                            </li>
                                            <li class="item-168">
                                                <a class=" mobileCollapseBody"
                                                    href="/index.php/about-us/#position-3">Our Story</a>
                                            </li>
                                            <li class="item-169">
                                                <a class=" mobileCollapseBody"
                                                    href="/index.php/about-us/#position-6">Locations</a>
                                            </li>
                                            <li class="item-170">
                                                <a class=" mobileCollapseBody"
                                                    href="/index.php/about-us/#position-7">Awards</a>
                                            </li>
                                            <li class="item-171">
                                                <a class=" mobileCollapseBody" href="/careers">Careers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="item-200 deeper parent">
                                        <a class=" mobileCollapseHead h3 mobileMenu" href="#t3-footer">About Us</a>
                                        <ul class="nav-child unstyled small">
                                            <li class="item-201">
                                                <a class=" mobileCollapseBody mobileMenu"
                                                    href="/index.php/about-us/#position-2">Leadership</a>
                                            </li>
                                            <li class="item-202">
                                                <a class=" mobileCollapseBody mobileMenu"
                                                    href="/index.php/about-us/#position-3">Our Story</a>
                                            </li>
                                            <li class="item-203">
                                                <a class=" mobileCollapseBody mobileMenu"
                                                    href="/index.php/about-us/#position-6">Locations</a>
                                            </li>
                                            <li class="item-204">
                                                <a class=" mobileCollapseBody mobileMenu"
                                                    href="/index.php/about-us/#position-7">Awards</a>
                                            </li>
                                            <li class="item-205">
                                                <a class=" mobileCollapseBody mobileMenu"
                                                    href="/?Itemid=171">Careers</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="footer-4 wrap t3-sl t3-sl-footer-4 ">

                    <div class="moduletable  mobileCollapse  col-sm-2">
                        <div class="module_container">
                            <div class="mod-menu">
                                <ul class="menu ">
                                    <li class="item-194 deeper parent">
                                        <a class=" desktopMenu h3" href="/contact">Contact</a>
                                        <ul class="nav-child unstyled small">
                                            <li class="item-172">
                                                <span class="separator">info[at]intimetec[dot]com</span></li>
                                            <li class="item-173">
                                                <span class="separator">+1(208) 258-2424</span></li>
                                        </ul>
                                    </li>
                                    <li class="item-209 deeper parent">
                                        <a class=" mobileCollapseHead h3 mobileMenu" href="#t3-footer">Contact</a>
                                        <ul class="nav-child unstyled small">
                                            <li class="item-210">
                                                <span class="separator">info[at]intimetec[dot]com</span></li>
                                            <li class="item-211">
                                                <a class=" mobileCollapseBody mobileMenu" href="tel:12082582424">+1(208)
                                                    258-2424</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="moduletable  ">
                        <div class="module_container">
                            <div class="mod-menu">
                                <ul class="menu  nav-tabs logoFooter">
                                    <li class="item-177 active">
                                        <a href="/"><img src="/src/assets/ITTLogo.png"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>