.centered-form{
	margin-top: 60px;
}
input, textarea, button { margin-top:10px }

.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
	background-color: #3e8e41;
  }

  .toggle{
	padding: 10px 10px 10px 10px;
  }
  
 .width{
	  width: 30%;
	  padding:10px 10px 10px 10px;
  }
 label {
	padding: 10px;
 }
  
  