<app-header></app-header>
<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Allocate Asset</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="dropdown col-md-5 ">
                    <label class="a"> Select User</label>
                    <select (change)="userSelection($event.target.value)" name="selectedUser" ng-model="selectedUser"
                        class="width">
                        <option [value]="0">Select User</option>
                        <option id="{{userDetail.id}}" [value]="userDetail.id"
                            *ngFor="let userDetail of userDetails">
                            {{userDetail.userName}}
                        </option>
                    </select>
                </div>
                <div class="dropdown col-md-5">
                        <label> Select Asset</label>

                    <select (change)="assetSelection($event.target.value)" name="selectedUser" ng-model="selectedUser"
                        class="width">
                        <option [value]="0">Select Asset</option>
                        <option class="btn col-md-12" [value]="asset.id" id="{{asset.id}}" *ngFor="let asset of assets">
                            {{asset.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="container">
                <div class="row centered-form">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Enter Details</h3>
                            </div>
                            <div class="panel-body">
                                <form #form="ngForm" (submit)="onSubmit(form)">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group block">
                                                <label>Serial Number</label>
                                                <input type="text" #serialNumber="ngModel" name="serialNumber"
                                                    id="serialNumber" class="form-control" placeholder="Serial Number"
                                                    [(ngModel)]="asset.serialNumber" required>
                                                <div *ngIf="serialNumber.invalid && serialNumber.touched"
                                                    class="validation-error">
                                                    This field is required.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <label>Item Name</label>
                                                <input #itemName="ngModel" type="text" name="itemName" id="itemName"
                                                    class="form-control" placeholder="Item Name"
                                                    [(ngModel)]="asset.name" required>
                                                <div *ngIf="itemName.invalid && itemName.touched"
                                                    class="validation-error">
                                                    This field is required.
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <select name="accessAllocation" #accessAllocation="ngModel" class="form-control"
                                            [(ngModel)]="allocatedAsset.accessAllocation">
                                            <option [value]="abc">Select Allocation</option>
                                            <option [value]="1">AWS</option>
                                            <option [value]="B">BitBucket</option>
                                            <option [value]="Jira">Jira</option>
                                        </select>
                                    </div>
                                </div> -->

                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group">
                                                    <label>Allow Access</label>
                                                <select name="accessAllocation" #accessAllocation="ngModel"
                                                    class="form-control" [(ngModel)]="selectedAccess">
                                                    <option *ngFor='let acc of access'>
                                                        {{acc.value}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <label>User Name</label>
                                                <input #userName="ngModel" type="text" name="userName" id="userName"
                                                    class="form-control" placeholder="User Name"
                                                    [(ngModel)]="user.userName" required>
                                                <div *ngIf="userName.invalid && userName.touched"
                                                    class="validation-error">
                                                </div>
                                                <div *ngIf="!user.userName" class="validation-error">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <label>User Email</label>
                                                <input #userEmail="ngModel" type="text" name="userEmail" id="userEmail"
                                                    class="form-control" placeholder="User Email"
                                                    [(ngModel)]="user.userEmail" required>
                                                <div *ngIf="userEmail.invalid && userEmail.touched"
                                                    class="validation-error">
                                                    This field is required.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <label>Phone Number</label>
                                                <input #phoneNumber="ngModel" type="text" name="phoneNumber"
                                                    id="phoneNumber" class="form-control" placeholder="Phone Number"
                                                    [(ngModel)]="user.phoneNumber" required>
                                                <div *ngIf="phoneNumber.invalid && phoneNumber.touched"
                                                    class="validation-error">
                                                    This field is required.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label>From Date</label>
                                                <input type="date" #fromDate="ngModel" name="fromDate" id="fromDate"
                                                    class="form-control" placeholder="From Date"
                                                    [(ngModel)]="allocatedAsset.fromDate" required>
                                                <div *ngIf="fromDate.invalid && fromDate.touched"
                                                    class="validation-error">
                                                    This field is required.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label>Till Date</label>
                                                <input type="date" #tillDate="ngModel" name="tillDate" id="tillDate"
                                                    class="form-control" placeholder="Till Date"
                                                    [(ngModel)]="allocatedAsset.tillDate" required>
                                                <div *ngIf="tillDate.invalid && tillDate.touched"
                                                    class="validation-error">
                                                    This field is required.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <label>Quantity</label>
                                                <input type="text" #quantity="ngModel" name="quantity" id="quantity"
                                                    class="form-control" placeholder="Quantity"
                                                    [(ngModel)]="allocatedAsset.quantity" required>
                                                <div *ngIf="quantity.invalid && quantity.touched"
                                                    class="validation-error">
                                                    This field is required.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <label>Purpose</label>
                                                <input type="text" #purpose="ngModel" name="purpose" id="purpose"
                                                    class="form-control" placeholder="Purpose"
                                                    [(ngModel)]="allocatedAsset.purpose" required>
                                                <div *ngIf="purpose.invalid && purpose.touched"
                                                    class="validation-error">
                                                    This field is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <!-- <button type="submit" [disabled]="form.invalid"
                                    class="btn btn-info btn-block">Submit</button> -->
                                        <button type="submit" class="btn btn-info btn-block">Submit</button>

                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>