<footer>

    <div class="text-center">
        <!-- <img src="../../../assets/Images/ITT_logo.png" style="width:320px;height:120px;"> -->
        <img src="../../../assets/Logo1.png" style="width:300px;height:90px;">
    </div>
</footer>
<!--/.footer-->
<p class="text-center"> Copyright ©️ IN TIME TEC. All right reserved. </p>
<!--/.footer-bottom-->